
<h1>Running Jobs</h1>
<%= if Enum.empty?(@rows) do %>
<p>
No jobs are currently running. You can schedule a new one by hitting Schedule button
</p>
<a href="/schedule" class="button button-black">Schedule</a>
<% else %>
<%= raw render_jobs_table(@rows, :spider) %>
<%= raw pagination_links(@page, @total_pages) %>

<% end %>
<br>
<br>
<h1>Recent Jobs</h1>
<%= raw render_jobs_table(@recent_rows, :spider) %>
<a href="/all" class="button button-black">See more</a>
