<form phx-submit="step1">
    <label>Spider Name</label>
    <!-- <input type="text" value="<%= Map.get(@data, :name) %>" name="name" /> -->
    <input type="text" value="ESL" name="name" />
    <label>Fields</label>
    <input type="text" value="text,url,title" name="fields" />
    <!-- <input type="text" name="fields" value="<%= raw Map.get(@data, :fields) %>"/> -->
    <input type="submit" value="Next"/>
</form>