<h1>Pick the node</h1>
<form phx-submit=spider_picked>
  <div class="row">
    <div class="column">
       <label for="inputState">Node</label>
       <select id="dynamic_select" name="node" class="form-control">
          <%= for node <- @nodes do %>
          <option> <%= node %> </option>
          <% end %>
       </select>
       <div class="column"><%= submit "Next" %></div>
    </div>
  </div>
</form>
